<mat-card>
  <mat-card-header>
      <h2>Welcome to Mercedes Mechanic</h2>
  </mat-card-header>
  <mat-card-content>
    <p>Welcome to your new lifestyle. Mercedes me is a new package of innovative services, products and lifestyle
      offers,
      designed to complement and elevate your day-to-day interactions with your Mercedes-Benz.</p>
    <p>These personalised
      services and products have been created to give you the opportunity to live in sync with your Mercedes-Benz,
      anytime, anywhere - even directly from your smart-phone.</p>
    <!---->
    <p>The Mercedes me portal gives you exclusive access to this amazing collection of life-enhancing services.
      Register
      to be the first to know.</p>
    <!---->
    <p>
      The configuration object takes all of the options found within the
      method; however, it will not accept any
      options that depend on user interaction, panel positioning, or panel
      animation.
    </p>
    <mat-card-header>
      <h2> Our service</h2>
    </mat-card-header>
    <p>
      This will help you reduce the necessary lines of configuration code that
      are required to create a panel when you are wanting to have multiple
      panels that are largely the same.
    </p>
  </mat-card-content>

</mat-card>
