<p>
  Product variations
  Some of the product information, illustrations and images contained on this Internet site may have been prepared for generic use on Mercedes-Benz South Africa Internet sites maintained in different countries around the world. Consequently, some of the information and/or accessories are not available in some countries or, in order to satisfy local market demand or regulatory controls in such countries, may only be available in different specifications or configurations.
</p>
