.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.login-container {
  margin-left: 70px;
}

.in-line-table {
  display: inline-block;
}

.floated-table {
  float: left;
}
